[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-ninja = "==0.16.1"
black = "==21.12b0"
django-stubs = "==1.9.0"
mypy = "==0.931"

[dev-packages]

[requires]
python_version = "3.9"
